docker/data/*
docker/config/*

.vscode/
.idea/

.ruff_cache/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

!.git*
