[bot]
nick = cappuccino_test
username = cappuccino_test
realname = cappuccino_test
# Server password, not nickserv
password =

host = irc.rizon.net
port = 6697

# uncomment this if you want ssl support
ssl = true
# uncomment this if you don't want to check the certificate
# ssl_verify = CERT_NONE

# uncomment this if you want to use sasl authentication
# sasl_username = cappuccino_test
# sasl_password = yourpassword

# uncomment this if you have a nickserv account
# nickserv_password = yourpassword

includes =
    irc3.plugins.ctcp
    plugins.nickserv
    plugins.botui
    plugins.ricedb
    plugins.lastfm
    plugins.crypto
    plugins.fun
    plugins.sed
    plugins.urlinfo

# the bot will join #null
# ${hash} is replaced by the # char
autojoins =
    ${hash}null

# Autojoin delay, disabled by default
# float or int value
# autojoin_delay = 3.1

# The maximum amount of lines irc3 sends at once.
# Default to 4, set to 0 to disable
# flood_burst = 10

# The number of lines per $flood_rate_delay seconds irc3 sends after reaching
# the $flood_burst limit.
# Default to 1
# flood_rate = 2

# The bot will send $flood_rate messages per $flood_rate_delay seconds
# Default to 1
# flood_rate_delay = 5

storage = json://data.json

[ctcp]
version = cappuccino (https://github.com/FoxDev/cappuccino)

[plugins.nickserv]
password =

[plugins.lastfm]
api_key =

# [plugins.userdb]
# enable_http_server = false
# http_host = 127.0.0.1
# http_port = 8080

[plugins.urlinfo]
ignore_nicks = Nick1 Nick2
ignore_hostnames = example.com

[plugins.ai]
ignore_nicks = ExampleUser

[plugins.autopsy]
# Nick to track their death.
nick = DeadUser
# Channel to monitor.
chan = deadchannel
# Minimum time of death in seconds to announce a revival.
notify_time = 604800

[irc3.plugins.command]
# command plugin configuration

# set command char
cmd = .

antiflood = true

# set guard policy
guard = irc3.plugins.command.mask_based_policy

[irc3.plugins.command.masks]
# this section is used by the guard to secure the bot's command
# change your nickname and uncomment the line below
# user!*@* = all_permissions
* = view
