-i https://pypi.org/simple
beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
docopt==0.6.2
idna==2.8
irc3==1.1.2
markovify==0.7.1
pylast==3.1.0
requests==2.21.0
soupsieve==1.8
unidecode==1.0.23
urllib3==1.24.1
venusian==1.2.0
